
/* Your CSS Code here. */
.main{
	display:flex;
	justify-content:space-between;
}
.first{
	background-color:green;
	width:50px;
	flex-wrap:wrap;
}
.second{
	background-color:red;
	width:50px;
}
.third{
	background-color:blue;
	width:50px;
}